.toast-container {
  z-index: 1060;
}

.ngb-toast {
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
  padding: 0.75rem 1rem;
  color: #fff;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  min-width: 260px;
  max-width: 400px;
}

.toast-message {
  flex-grow: 1;
}

.toast-icon {
  font-size: 1.2rem;
}

.bg-info {
  background-color: #17a2b8 !important;
}

.bg-success {
  background-color: #41d764 !important;
}

.bg-danger {
  background-color: #f63c4e !important;
  color: #fff;
}

.bg-warning {
  background-color: #ffc107 !important;
  color: #212529 !important;
}

.ngb-toast {
  .btn-close {
    filter: invert(1);
    opacity: 0.9;
  }

  .btn-close:hover {
    opacity: 1;
  }
}

