@import "variables";
@import "mixins";

.container {
  height: 100vh;
  @include flex(space-between, center, 3, row);
}

.sidebar {
  width: 250px;
  height: inherit;
  background-color: white;
  border-right: 1px solid #d1d1d1c8;
  @include flex(space-between, flex-start, 0, column);

  div {
    width: 100%;
  }

  &_logo {
    margin-top: 10px;
    margin-left: 8px;
    position: relative;
    @include size(50px);
    @include padding-x(15px);
  }

  ul {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    list-style: none;
    font-display: none;
    @include flex(center, center, 0, column);

    li {
      gap: 10px;
      width: 80%;
      display: flex;
      cursor: pointer;
      margin-bottom: 3px;
      border-radius: $border-radius;
      @include padding-x(15px);
      @include font-style($text-sm, $font-medium);

      &:hover {
        background-color: $secondary-color;
        transition: $transition;
      }
    }
  }

  &_btn {
    @include flex(center, center, 0);
  }

  app-tag-button {
    width: 90%;
    text-align: center;
    padding-bottom: 10px;

    img {
      top: 1px;
      right: 2px;
      position: relative;
    }
  }
}

.ng-content {
  flex: 1;
  height: inherit;
  @include padding-x(15px);
}