@import "variables";
@import "mixins";

.AdminLayout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar {
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 50;

  .navbar-brand {
    color: $primary-color;
    font-weight: $font-bold;
  }

  .navbar-toggler {
    border: none;
    outline: none;
    font-size: 13px;
  }

  .collapse.navbar-collapse {
    position: relative;
    padding-right: 15px;

    &::before {
      content: '';
      top: 50%;
      right: 2px;
      width: 1px;
      height: 13px;
      position: absolute;
      transform: translateY(-50%);
      background-color: $text-color;
    }
  }

  .container-profile {
    display: flex;

    .card {
      right: 8px;
      top: 105%;
      width: 190px;
      position: absolute;

      .card-body {
        .check-profile i {
          color: $primary-color;
        }

        .check-logout i {
          color: $error-color;
        }

        button {
          border: none;
          background-color: transparent;
          display: flex;
          justify-content: start;
          align-items: center;
          @include font-style($text-sm, $font-bold);

          i {
            width: 5px;
            position: relative;
            right: 25px;
            text-align: right;
          }

          span {
            display: inline-block;
            position: relative;
            right: 20px;
          }
        }

        .check-profile {
          color: $primary-color;
        }

        .check-logout {
          margin-top: 5px;
          color: $error-color;
        }
      }
    }
  }

  .profile .notification {
    display: none;
  }

  @media (min-width: 992px) {
    .profile .notification {
      gap: 15px;
      display: flex;
      align-items: center;
      position: relative;
    }
  }
}

.profile {
  gap: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;

  span {
    @include font-style($text-sm, $font-bold)
  }

  .icon-profile {
    color: white;
    border-radius: 50%;
    text-align: center;
    @include size(30px);
    background-color: $primary-color;
    @include flex(center, center, 0, row);
    @include font-style($text-sm, $font-bold)
  }
}

i {
  cursor: pointer;
  color: $text-color;
  @include padding-x(5px);

  &:hover {
    transition: $transition;
    color: $primary-color;
  }
}

@media (min-width: 992px) {
  i {
    @include padding-x(15px);
  }
}

@media (max-width: 992px) {
  .ngbCollapse_profil {
    display: none;
  }
}

.navbar-nav {
  .nav-item {
    margin-left: 2px;
    font-size: $text-sm;
    font-weight: $font-semibold;

    .nav-link {
      display: flex;
      font-size: 13px;
      color: $text-color;
      align-items: center;
      font-weight: $font-bold;
      transition: color $transition ease;

      i {
        width: 35px;
        text-align: left;
        color: $text-color;
      }
    }

    .nav-link:hover,
    .nav-link:hover i {
      color: $primary-color;
    }
  }
}

.mobile-menu {
  top: 0;
  width: 250px;
  height: 100%;
  right: -250px;
  position: fixed;
  background: white;
  transition: right $transition ease-in-out;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);

  &.show {
    right: 0;
  }

  .close-btn {
    top: 10px;
    right: 20px;
    border: none;
    cursor: pointer;
    background: none;
    color: #282c34;
    color: $text-color;
    position: absolute;
    font-size: $text-base;
    transition: color $transition;

    &:hover {
      color: $primary-color;
    }
  }

  .container-list-unstyled {
    border-top: 1px solid $primary-color;
  }

  .mobile-sidebar {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: $secondary-color;
    @include flex(space-between, center, 0, row);

    button {
      top: 50%;
      margin: 0;
      padding: 0;
      right: 10px;
      position: relative;

      i {
        &:hover {
          transition: $transition;
          color: $primary-color;
        }
      }
    }
  }

  .list-unstyled {
    gap: 10px;
    display: flex;
    margin-top: 15px;
    flex-direction: column;

    li {
      cursor: pointer;
      font-size: $text-sm;
      @include margin-x(10px);
      font-weight: $font-semibold;
      transition: background $transition;
      border-radius: $border-radius;
      @include padding-y(10px);
      @include padding-x(10px);

      &:hover {
        background-color: $secondary-color;
      }

      a {
        display: flex;
        color: $text-color;
        align-items: center;
        color: $primary-color;
        text-decoration: none;
        transition: color $transition;

        i {
          margin-right: 10px;
          color: $primary-color;
        }
      }
    }

    li:hover a,
    li:hover a i {
      color: $text-color;
    }
  }
}

.ng-content {
  flex-grow: 1;
  @include padding-x(12px);
}

.footer {
  @include padding-x(12px);
  color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);

  span {
    font-style: italic;
  }

  .logo {
    top: 4px;
    position: relative;
  }
}

.mobile-menu {
  z-index: 60;
}

.nav-link.check-logout {
  color: $error-color;
  i {
    color: $error-color;
    margin-right: 10px;
  }
}
