<article class="AdminLayoutComponent">
  <div class="container">
    <div class="sidebar">
      <div>
        <img class="sidebar_logo" src="images/not-found.svg" alt="images logo" />
        <ul>
          <li (click)="mesClubs()">
            <img src="/icon/icon-club.svg" alt="icon-club" />
            <p>Mes clubs</p>
          </li>
        </ul>
      </div>
      <div class="sidebar_btn">
        <app-tag-button text="Créer un club" (click)="createClub()">
          <img src="/icon/icon-plus.svg" alt="icon-plus" />
        </app-tag-button>
      </div>
    </div>
    <div class="ng-content">
      <nav>
        <a [routerLink]="['/' + urlAdminClubs]">
          <img src="/icon/icon-left-arrow-shield.svg" alt="icon-club" />
          <span>Mes clubs</span>
        </a>
        <span (click)="logOut()">Déconnexion</span>
      </nav>
      <ng-content></ng-content>
    </div>
  </div>
</article>