<div class="d-flex justify-content-between">
    <div class="content-reser min-vh-100 p-3">
        <div class="chevron-back w-100">
            <i class="fa-solid fa-chevron-left" (click)="back()"></i>
        </div>
        <div class="card shadow-lg p-2 p-md-4" style="width: 900px;">
            <div class="badge-section">
                <div class="badge">ID de Réservation : <strong>{{ buildReservationView().id}}</strong></div>
                <div class="badge">Statut : <strong
                        [ngClass]="actionHandler.getReservationDisplayStatus(buildReservationView().status).class">{{actionHandler.getReservationDisplayStatus(buildReservationView().status).label}}</strong>
                </div>
            </div>

            <div class="mb-4">
                <h2 class="fs-4 text-secondary mb-3 pb-2 border-bottom">Informations de Réservation</h2>
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Date:</span>
                            <span class="text-dark" id="reservation-date">{{buildReservationView().date}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Heure de debut:</span>
                            <span class="text-dark" id="reservation-time">{{buildReservationView().startTime}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Heure de fin:</span>
                            <span class="text-dark" id="reservation-time">{{buildReservationView().endTime}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Terrain:</span>
                            <span class="text-dark" id="num-guests">{{buildReservationView().stadiumName}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Sport:</span>
                            <span class="text-dark" id="service-type">{{buildReservationView().sport}}</span>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Prix:</span>
                            <span class="text-dark" id="service-type">{{buildReservationView().price+' DH'}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Section Détails du Client -->
            <div class="mb-4">
                <h2 class="fs-4 text-secondary mb-3 pb-2 border-bottom">Informations du Client</h2>
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Nom:</span>
                            <span class="text-dark" id="guest-name">Jean Dupont</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Nom:</span>
                            <span class="text-dark" id="guest-name">Jean Dupont</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Email:</span>
                            <span class="text-dark" id="guest-email">{{emailtest}}</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="d-flex flex-column">
                            <span class=" fw-bold">Téléphone:</span>
                            <span class="text-dark" id="guest-phone">+33 6 12 34 56 78</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="actions-reservation">
        <div class="mt-5">
            <div class="list-group action-list-group">
                @for (action of getReservationActions(); track $index) {
                @if (action && action.icon!=='fa-solid fa-eye') {
                <button class="list-group-item list-group-item-action action-list-group-item-edit"
                    (click)="action.click()" [ngClass]="{'cancelButton':action.label==='Annuler'}">
                    <i [class]="action.icon"></i> {{action.label}}
                </button>
                }
                }

            </div>
        </div>
    </div>
</div>