body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}
.card {
  border: none;
  background-color: transparent;
  box-shadow: none !important; /* Bords arrondis pour la carte principale */
}
.info-box {
  background-color: #e0f2f7; /* Couleur de fond pour les boîtes d'info */
  border-radius: 0.5rem; /* Bords arrondis pour les boîtes d'info */
}
.btn-primary {
  border-radius: 2rem; /* Bords très arrondis pour le bouton */
  padding: 0.75rem 2rem; /* Plus de padding pour le bouton */
  font-weight: bold;
}

.content-reser {
  width: 78%;
}

.actions-reservation {
  margin: 0 20px;
  margin-top: 45px;
}

.list-group-item {
  color: #2563eb;
  font-weight: 600;
}

.list-group {
  width: 230px;
}

.chevron-back {
  padding: 0px 50px;

  i {
    cursor: pointer;
  }
}

.info-box {
  background-color: #2563eb1a !important;
  height: 60px;
  align-items: center;
  padding: 20px;

  p {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.status-reser {
  .text-muted {
    font-weight: 500;
  }
  p {
    color: #2563eb;
  }
}

.id-reser {
  .text-muted {
    font-weight: 500;
  }
  p {
    color: #2563eb;
  }
}

.status-finished {
  color: #58bd58 !important;
  font-weight: 500;
  font-family: system-ui;
}
.status-programmee {
  color: #007bff !important;
  font-weight: 500;
  font-family: system-ui;
}
.status-cancelled {
  color: red !important;
  font-weight: 500;
  font-family: system-ui;
}
.status-inprogress {
  color: orange !important;
  font-weight: 500;
  font-family: system-ui;
}
.status-expired {
  color: gray !important;
  font-weight: 500;
  font-family: system-ui;
}

.cancelButton {
  color: #ff474a !important;
  background-color: #f9e9e9;
  font-weight: bold;
}
