@import "variables";
@import "mixins";

a {
  gap: 8px;
  cursor: pointer;
  margin-top: 15px;
  text-decoration: none;
  @include flex(flex-start, center, 5, row);

  img {
    color: $text-color;
  }

  span {
    color: black;
    @include font-style($text-sm, $font-medium)
  }
}