<app-auth-layout-component>
  <div *ngIf="!isEmailSent; else emailNotSent">
    <form (ngSubmit)="onSubmit()">
      <app-form-input-email id="email" label="Identifiant" name="email" placeholder="john.doe@gmail.com"
        [required]="true" [control]="emailControl" />

      <app-tag-button type="submit" text="Envoyer" [disabled]="emailControl.invalid"
        [ngClass]="{'disabled': emailControl.invalid}" />

      <a [routerLink]="urlDefault" class="return-login">
        <img src="/icon/icon-left-arrow.svg" alt="icon-left-arrow" />
        <span>Retour à la connexion</span>
      </a>
    </form>
  </div>

  <ng-template #emailNotSent>
    <app-email-sent-confirmation [email]="emailControl.value" />
  </ng-template>
</app-auth-layout-component>