<app-auth-layout-component>
  <form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
    <app-form-input-email id="email" label="Identifiant" name="email" placeholder="john.doe@gmail.com" [required]="true"
      [ngClass]="{'error-border': isError}" [control]="emailControl" />

    <app-form-input-password id="password" label="Mot de passe" name="password" placeholder="**********"
      [required]="true" [ngClass]="{'error-border': isError}" [control]="passwordControl" />

    <app-tag-a [url]="resetPasswordUrl" name="resetPassword" text="Mot de passe oublié ?" />

    <app-tag-button type="submit" text="Se connecter" [disabled]="connexionForm.invalid"
      [ngClass]="{'disabled': connexionForm.invalid}" />
  </form>
</app-auth-layout-component>
