<div class="input-container">
  <label [for]="id">{{label}}<span *ngIf="required">*</span></label>
  <input
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [type]="isPasswordVisible ? 'password' : 'text'"
    [required]="required"
  >
  <img
    alt="eye-open"
    (click)="togglePasswordVisibility()"
    *ngIf="isPasswordVisible"
    src="icon/eye-opne.svg"
  />
  <img
    alt="eye-close"
    (click)="togglePasswordVisibility()"
    *ngIf="!isPasswordVisible"
    src="icon/eye-close.svg"
  />
</div>
