@import 'variables';

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

label {
  font-size: small;
  font-weight: 500;
  text-align: left;
  margin-bottom: 5px;
}

span {
  color: red;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: calc($border-radius * 2);
  outline-color: $primary-color;
}

img {
  position: absolute;
  top: 46%;
  right: 3%;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
