<div class="container-password">
  <label [for]="id">{{label}}<span *ngIf="required">*</span></label>
  <input [formControl]="control" [id]="id" [name]="name" [placeholder]="placeholder" [required]="required"
    [type]="isPasswordVisible ? 'text' : 'password'" [ngClass]="ngClass" />

  <img *ngIf="!isPasswordVisible" class="icon-eye-close" src="/icon/icon-eye-close.svg"
    (click)="isPasswordVisible = !isPasswordVisible" />

  <img *ngIf="isPasswordVisible" class="icon-eye-open" src="/icon/icon-eye-open.svg"
    (click)="isPasswordVisible = !isPasswordVisible" />
</div>