@import "variables";

button {
  min-width: 300px;
  border: none;
  padding: 10px;
  color: #fff;
  outline: none;
  opacity: none;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
  font-size: $text-sm;
  font-weight:600;
  background: $primary-color;
  border-radius: $border-radius;
}

button:hover{
  opacity: 0.9
}

button:disabled {
  opacity: 0.6;
  cursor: no-drop;
  background-color: #e0e0e0;
}
