<app-admin-layout>
  <article class="adminAdministrationComponent">
    <div class="adminComponent-content">
      <h3>Réservations</h3>
      <a routerLink="new">
        Nouveaux réservations
        <!-- <img style="margin-bottom: 2px;" src="/icon/icon-plus.svg" alt="icon-plus" /> -->
      </a>
    </div>

    <p class="mt-5">Une table répertorie tous les <code>réservations</code>, pour facilitant la gestion et les
      mises à jour.</p>

    <div class="tableReservation">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Date de création</th>
            <th scope="col">Dernier action</th>
            <th scope="col">Statu</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (reservation of reservation; track reservation.name) {
          <tr>
            <td scope="row">{{ reservation.name }}</td>
            <td>{{ reservation.creation_date }}</td>
            <td>{{ reservation.last_action }}</td>
            <td [ngClass]="{
                  'terminer': reservation?.statut === 'Terminer',
                  'en-cours': reservation?.statut === 'En cours'
                }">
              {{ reservation?.statut }}
            </td>
            <td class="button">...</td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshReservation()">
      </ngb-pagination>
    </div>
  </article>
</app-admin-layout>