<app-admin-layout>
  <article class="adminAdministrationComponent">
    <div class="body-content">
      <div class="adminComponent-content">
        <h3>Réservations</h3>
        <app-tag-button text="Nouveaux réservations" routerLink="new">
          <img style="margin-bottom: 2px;" src="/icon/icon-plus.svg" alt="icon-plus" />
        </app-tag-button>
      </div>

      <form class="form-srach-bar mt-3">
        <div class="mb-3 row">
          <div class="search-bar col-xs-3 col-sm-auto">
            <i class="fas fa-search"></i>
            <input id="table-filtering-search" placeholder="Recherchez votre réservation" class="form-control"
              type="text" />
          </div>
        </div>
      </form>

      <ng-container *ngIf="reservations && reservations.length > 0; else noReservation">
        <div class="tableReservation">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Client</th>
                <th scope="col">Phone</th>
                <th scope="col">Terrain</th>
                <th scope="col">Statut</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              @for (reservation of reservations; track reservation.reservationId) {
              <tr>
                <td scope="row">{{ reservation.reservationDate }}</td>
                <td>{{ formatTo12HourNoSuffix(reservation.startTime)}} <i class="fa-solid fa-arrow-right"></i>
                  {{formatTo12HourNoSuffix(reservation.endTime)}}</td>
                <td>{{ reservation?.clientFirstName }} {{ reservation?.clientLastName }}</td>
                <td>{{ reservation.clientPhoneNumber }}</td>
                <td>{{reservation?.stadium.name}}</td>
                <td [ngClass]="actionHandler.getReservationDisplayStatus(reservation.reservationStatus).class">
                  {{actionHandler.getReservationDisplayStatus(reservation.reservationStatus).label}}
                </td>
                <td>
                  <div>
                    <div ngbDropdown class="custom-dropdown">
                      <button class="ngbDropdown-button" type="button" id="dropdownBasic1" ngbDropdownToggle>
                        ...
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="custom-dropdown-menu">
                        @for (action of getReservationActions(reservation); track $index) {
                        <button ngbDropdownItem [class]="'ngbDropdown-button_'+action.label"
                          [ngClass]="{'cancelButton':action.label==='Annuler'}" (click)="action.click()">
                          <i [class]="action.icon" style="margin-right: 5px;"></i>
                          {{action.label}}
                        </button>
                        }

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="reservations && reservations.length > 0">
      <div class="d-flex justify-content-center p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
          (pageChange)="onPageChange($event)">
        </ngb-pagination>
      </div>
    </ng-container>
    <ng-template #noReservation>
      <div class="no-reservation-box text-center mt-5">
        Aucune réservation
      </div>
    </ng-template>
  </article>
</app-admin-layout>