
<div *ngIf="isProcessing" class="processing-overlay">
  <div class="progress-bar-container">
    <div class="progress" [style.width.%]="progressValue"></div>
    <div class="progress-text">{{ progressValue }}%</div>
  </div>
</div>

<div class="content" *ngIf="!isProcessing">
  <div class="header-stepper">
    <div class="header-content d-flex justify-content-between">
      <div class="chevron" (click)="previousStep()">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="stepper">
        <div class="stepper-container">
          <div *ngFor="let step of steps; let i = index" class="step">
            <div class="progress-bar" [ngClass]="{ 'completed-bar': i < currentStep + 1 }"></div>
            <button class="circle" (click)="goToStep(i)" [disabled]="reservationForm.invalid" [ngClass]="{
            'completed': step.completed,
            'active': i === currentStep && i!==2,
            'pending': i > currentStep
          }">
              <i [ngClass]="step.icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="close" (click)="closeReser()">
        <i class="fa fa-close"></i>
      </div>
    </div>
  </div>
  <div class="content-info">
    <div class="col-8 step-info">
      <ng-container [ngSwitch]="currentStep">
        <app-step-information [formClient]="clientForm" *ngSwitchCase="0"
          (informationSaved)="nextStep()"></app-step-information>

        <app-calendar *ngSwitchCase="1" (toRecap)="nextStep()" [calendarForm]="reservationInfo"
          [terrainId]="clientForm.get('terrainId')?.value"></app-calendar>

        <app-step-recap [clientForm]="clientForm" [sportForm]="reservationInfo" *ngSwitchCase="2"
          (lauche)="createReservation()"></app-step-recap>
      </ng-container>
    </div>
  </div>
</div>