@import 'variables';

button {
  width: 100%;
  border: none;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 400;
  border-radius: $border-radius;
  background: $primary-color;
}
