@import 'variables';

.NotFoundComponent {
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    width: 300px;
    height: 300px;
  }

  @media ($sm) {
    img {
      width: 150px;
      width: 150px;
    }
  }

  &_content {
    text-align: center;
  }

  a {
    color: white;
    padding-top: 7px;
    margin-top: 15px;
    padding-left: 25px;
    padding-bottom: 7px;
    padding-right: 25px;
    text-decoration: none;
    border-radius: calc($border-radius*2);
    background-color: $primary-color;
  }
}
