<div class="pagination-footer d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-2">
        <label for="pageSizeSelect" class="form-label mb-0">Éléments par page :</label>
        <select id="pageSizeSelect" class="form-select form-select-sm w-auto" [value]="pageSize"
            (change)="onPageSizeChange($event)">
            <option *ngFor="let size of pageSizeOptions" [value]="size">
                {{ size }}
            </option>
        </select>
    </div>

    <div class="d-flex align-items-center gap-3">
        <span *ngIf="totalItems > 0" class="elements-page">
            {{ startItem }} à {{ endItem }} sur {{ totalItems }} éléments
        </span>
    </div>
    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5" size="sm">
    </ngb-pagination>

</div>