@import 'variables';
@import "mixins";

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.left-panel {
  flex: 1;
  margin: 0px;
  padding: 0px;
  color: #fff;
}

@media ($sm) {
  .left-panel {
    display: none;
  }
}

.left-panel .content img {
  @include size(100%, 100vh);
}

.right-panel {
  flex: 1;
  padding: 40px;
  @include flex(center, center, 0, row);
}

.login-box {
  width: 100%;
  max-width: 500px;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: $text-color;
    margin-bottom: 35px;
  }

  img {
    @include size(200px);
    margin-bottom: -35px;
  }
}