<app-auth-layout-component>
  <form (ngSubmit)="onSubmit($event)">
    <app-form-input-text
      (passwordEvent)="onNewPasswordReceived($event)"
      id="password"
      label="Nouveau mot de passe"
      name="password"
      placeholder="**********"
      [required]="true"

    />
    <app-form-input-text
      (passwordEvent)="onConfirmationPasswordReceived($event)"
      id="password"
      label="Confirmer le mot de passe"
      name="password"
      placeholder="**********"
      [required]="true"
    />
    <app-tag-button
      [disabled]="isTagButtonDisabled()"
      label="Confirmer"
      type="submit"
    />
  </form>
</app-auth-layout-component>
