<app-auth-layout-component>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit($event)">
    <label for="new-password">Nouveau mot de passe</label>
    <input
      formControlName="newPassword"
      id="new-password"
      name="password"
      placeholder="**********"
      [required]="true"
      type="password"
    />
    <label for="confirm-password">Confirmer le mot de passe</label>
    <input
      formControlName="confirmPassword"
      id="confirm-password"
      name="password"
      placeholder="**********"
      [required]="true"
      type="password"
    />
    <button
      type="submit"
      [disabled]="passwordForm.invalid"
      [ngClass]="{'disabled': passwordForm.invalid, 'active': !passwordForm.invalid}"
    >
      Confirmer
    </button>
  </form>
</app-auth-layout-component>
