<article class="AdminLayout">
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/' + frontPath + '/club'">Planifca en ligne</a>

      <div class="collapse navbar-collapse d-none d-lg-block">
        <ul class="navbar-nav ms-auto">
          <li *ngIf="roleClub" class="nav-item">
            <a class="nav-link" [routerLink]="'/' + frontPath + '/club'">
              <i class="fas fa-home"></i>
              <span>Club</span>
            </a>
          </li>
          <li *ngIf="roleAdministration" class="nav-item">
            <a class="nav-link" [routerLink]="'/' + frontPath + '/administration'">
              <i class="fas fa-user"></i>
              <span>Administration</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/' + frontPath + '/reservation'">
              <i class="fas fa-cogs"></i>
              <span>Réservation</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/space-clients/club">
              <i class="fas fa-envelope"></i>
              <span>Statistics</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="container-profile">
        <div class="profile" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <i class="fas fa-bell"></i>
          <div class="notification" (click)="collapse.toggle()">
            <div class="icon-profile">RI</div>
            <span>Reda IBENAHMED</span>
          </div>
        </div>

        <div class="ngbCollapse_profil" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div class="card">
            <div class="card-body">
              <button class="check-profile" [routerLink]="'/' + frontPath + '/profile'">
                <i class="fas fa-sign-out-alt"></i>
                <span>Voir mon profil</span>
              </button>
              <button class="check-logout" (click)="logOut()">
                <i class="fas fa-user"></i>
                <span>Déconnexion</span>
              </button>
            </div>
          </div>
        </div>
        <a class="navbar-toggler border-0" type="button" (click)="toggleMenu()">
          <span class="navbar-toggler-icon"></span>
        </a>
      </div>
    </div>
  </nav>

  <div class="overlay" *ngIf="isOpen" (click)="toggleMenu()"></div>
  <div class="mobile-menu" [class.show]="isOpen">
    <div class="mobile-sidebar">
      <li class="nav-link">
        <div class="profile" (click)="collapse.toggle()">
          <div class="icon-profile">RI</div>
          <span>IBENAHMED</span>
        </div>
      </li>
      <button class="close-btn" (click)="toggleMenu()"><i class="fas fa-times"></i></button>
    </div>
    <div class="container-list-unstyled">
      <ul class="list-unstyled">
        <li><a routerLink="/space-clients/club" class="nav-link"><i class="fas fa-home"></i>Club</a></li>
        <li><a routerLink="/space-clients/club" class="nav-link"><i class="fas fa-user"></i>About</a></li>
        <li><a routerLink="/space-clients/club" class="nav-link"><i class="fas fa-cogs"></i>Services</a></li>
        <li><a routerLink="/space-clients/club" class="nav-link"><i class="fas fa-envelope"></i>Contact</a></li>
        <li><a [routerLink]="'/' + frontPath + '/profile'" class="nav-link"><i class="fas fa-sign-out-alt"></i>Voir mon
            profil</a></li>
        <li><button (click)="logOut()" class="nav-link check-logout"> <i class="fas fa-user"></i>Déconnexion</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="ng-content">
    <ng-content></ng-content>
  </div>

  <footer class="footer bg-white text-dark">
    <div class="d-flex justify-content-between align-items-center">
      <span class="small fst-italic">Version 1.0.1</span>
      <span class="logo h5 fw-bold fst-italic">Planifica</span>
    </div>
  </footer>

</article>