<app-admin-layout>
  <article class="adminClubsComponent">
    <div class="adminComponent-content">
      <h3>Mes clubs</h3>
      <app-tag-button text="Nouveaux club" (click)="createClub()">
        <img src="/icon/icon-plus.svg" alt="icon-plus" />
      </app-tag-button>
    </div>
    
    <div class="table-container mt-3">
      <table class="custom-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>John Doe</td>
            <td>johnexample.com</td>
            <td><span class="badge badge-admin">Admin</span></td>
            <td>
              <button class="btn-action edit"><i class="bi bi-pencil"></i></button>
              <button class="btn-action delete"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jane Smith</td>
            <td>janeexample.com</td>
            <td><span class="badge badge-user">User</span></td>
            <td>
              <button class="btn-action edit"><i class="bi bi-pencil"></i></button>
              <button class="btn-action delete"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</app-admin-layout>
