<app-auth-layout-component>
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit($event)">
    <label for="email">Identifiant</label>
    <input
      formControlName="email"
      id="email"
      name="email"
      placeholder="john.doe@gmail.com"
      [required]="true"
      type="email"
    />
    <button
      type="submit"
      [disabled]="emailForm.invalid"
      [ngClass]="{'disabled': emailForm.invalid, 'active': !emailForm.invalid}"
    >
      Se connecter
    </button>
  </form>
</app-auth-layout-component>
