<app-auth-layout-component>
  <div *ngIf="!isEmailSent; else emailNotSent">
    <form (ngSubmit)="onSubmit()">
      <label for="email">Identifiant</label>
      <input [formControl]="emailControl" id="email" name="email" placeholder="john.doe@gmail.com" [required]="true"
        type="email" />
      <button type="submit" [disabled]="emailControl.invalid" [ngClass]="{'disabled': emailControl.invalid}">
        Envoyer
      </button>
    </form>
  </div>

  <ng-template #emailNotSent>
    <app-email-sent-confirmation [email]="emailControl.value" />
  </ng-template>
</app-auth-layout-component>