@import 'variables';

form {
  gap: 3px;
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-size: $font-xs;
  font-weight: $font-normal;
}

span {
  color: red;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  outline-color: $primary-color;
  border-radius: calc($border-radius * 2);
}

a {
  display: block;
  text-align: left;
  width: fit-content;
  color: $text-color;
  font-size: $font-xs;
  text-decoration: none;
  font-weight: $font-normal;
  text-decoration: underline;
  text-decoration-color: $text-color;
}

button {
  width: 100%;
  border: none;
  padding: 10px;
  color: #fff;
  outline: none;
  opacity: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: $font-xs;
  font-weight: $font-normal;
  background: $primary-color;
  border-radius: $border-radius;
}

.disabled {
  opacity: 0.7;
  cursor: no-drop;
}