<app-auth-layout-component>
  <form (ngSubmit)="onSubmit($event)">
    <app-form-input-email
      (emailEvent)="onEmailReceived($event)"
      id="email"
      label="Identifiant"
      name="email"
      placeholder="john.doe@gmail.com"
      [required]="true"
    />
    <app-form-input-password
      (passwordEvent)="onPasswordReceived($event)"
      id="password"
      label="Mot de passe"
      name="password"
      placeholder="**********"
      [required]="true"
    />
    <app-tag-a
      class="app-tag-a"
      [routerLink]="resetPasswordUrl"
      name="resetPassword"
      text="Mot de passe oublié ?"
    />
    <app-tag-button
      [disabled]="isTagButtonDisabled()"
      label="Se connecter"
      type="submit"
    />
  </form>
</app-auth-layout-component>
