@import 'variables';
@import "mixins";

article {
  margin-top: -30px;
  @include flex($justify: center, $algin: center, $gap: 3, $direction: column);
}

article div {
  text-align: center;
}

article h1 {
  @include font-style($text-2xl, $font-medium);
}

article p {
  margin-top: -10px;
  @include font-style($text-sm, $font-normal);
}

article p span {
  @include font-style($text-sm, $font-semibold);
}

article span {
  @include font-style($text-xs, $font-normal);
}

article span button {
  border: none;
  outline: none;
  cursor: pointer;
  color: $text-color;
  text-decoration: underline;
  background-color: transparent;
  @include font-style($text-xs, $font-normal);
}