<article class="AuthComponent container">
  <div class="left-panel">
    <div class="content">
      <h2>New Scheduling And Routing Options</h2>
      <p>We also updated the format of podcasts and rewards.</p>
    </div>
  </div>
  <div class="right-panel">
    <div class="login-box">
      <img class="login-icon" src="images/login-icon.svg" alt="login-icon"/>
      <h2>Hello Again!</h2>
      <p>Aliquam consectetur et tincidunt praesent enim massa pellentesque velit odio neque.</p>
      <form>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <div class="actions">
          <label><input type="checkbox"> Remember Me</label>
          <a href="#">Recovery Password</a>
        </div>
        <app-tag-button label="Loginss" type="submit"/>
      </form>
    </div>
  </div>
</article>
